# Ignore all virtual environments anywhere
**/venv/
**/venv*/
**/.venv/
**/.venv*/
**/.venv311/
**/.venv311*/

# Ignore datasets (large files)
datasets/cremad/
datasets/ravdess/
datasets/tess/
datasets/savee/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# OS-specific junk
.DS_Store
Thumbs.db
