# Ignore virtual environments
venv*/
.venv*/
.venv311*/
venv311*/
datasets/.venv*/
datasets/.venv311*/
datasets/venv*/
datasets/venv311*/
p1p2/modelstuff.venv*/
p1p2/modelstuff.venv311*/

# Ignore datasets (large files)
datasets/cremad
datasets/ravdess
datasets/tess
datasets/savee



# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# OS-specific junk
.DS_Store
Thumbs.db
